/*=====================================
            ABOUT PAGE STYLE
======================================*/
.about-part {
  padding: 100px 0px 0px;
}

.about-content {
  margin-bottom: 30px;
}

.about-content h2 {
  margin-bottom: 32px;
}

.about-content p {
  font-size: 18px;
  line-height: 30px;
}

.about-quote {
  padding: 40px 40px;
  border-radius: 8px;
  border-left: 5px solid var(--primary);
  box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.15);
}

.about-quote p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 25px;
}

.about-quote h5 {
  font-style: italic;
}

.about-quote h5 span {
  color: var(--primary);
}

.about-image {
  margin-left: 20px;
}

.about-image img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 30px;
}

.best-part {
  padding: 90px 0px 0px;
}

.team-part {
  padding: 60px 0px 0px;
}

.team-part .row:nth-child(2) {
  justify-content: center;
}

.counter-part {
  margin-top: 55px;
  padding: 100px 0px;
  background: linear-gradient(rgba(117, 168, 255, 0.1), rgba(0, 69, 187, 0.1));
}

@media (max-width: 767px) {
  .about-part {
    padding: 60px 0px 0px;
  }
  .about-quote {
    margin-bottom: 30px;
  }
  .about-image {
    margin-left: -15px;
  }
  .best-part {
    padding: 30px 0px 0px;
  }
  .team-part {
    padding: 00px 0px 0px;
  }
  .counter-part {
    padding: 60px 0px 0px;
    margin-top: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-part {
    padding: 80px 0px 0px;
  }
  .about-quote {
    margin-bottom: 30px;
  }
  .about-image {
    margin-left: 0px;
  }
  .best-part {
    padding: 50px 0px 0px;
  }
  .team-part {
    padding: 20px 0px 0px;
  }
  .counter-part {
    padding: 80px 0px 0px;
    margin-top: 20px;
  }
}
/*========= Custom========== */

.mainWho{
  display: flex;
  justify-content: space-between;
  margin: 60px 0 30px;
}
.mainWho .whoAreWe{
  width: 45%;
}

.mainWho h3{
  font-size: 34px;
}
.mainWho .ourMission{
  width: 45%;
}
.mainHelp{
  margin: 100px 0;
}
.Hheader h3{
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
}
.mainHelp .Hblocks{
  display: flex;
  justify-content: space-evenly;
}
.mainHelp .singleHBlock{
  width: 30%;
  padding: 20px 25px;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 15px;
}
.mainHelp .singleHBlock h3{
  color: #0044bb;
}
.mainHelp .singleHBlock p{
  font-size: 14px;
  margin-top: 10px;
}
.goodFrims{
  margin: 0 0 50px;
}
.mainGoodFrims{
  text-align: center;
}
.allFrims{
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
}
.singleFrims{
  width: 20%;
  padding: 20px 15px;
  border: 2px solid #0044bb;
  border-radius: 10px 0 10px 0;
  background: #0045bb27;
}
.singleFrims .icon{
  font-size: 30px;
  color: #0044bb;
  margin-bottom: 20px;
}
.singleFrims .text h4{
  color: #0044bb;

}

.partnership{
  margin: 50px 0;
}
.mainPartnership h2{
  margin-bottom: 8px;
}
.mainPartnership h2,
.mainPartnership p{
  text-align: center;
}

.allPrograms{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.singlePrograme{
  width: 23%;
  padding: 25px 20px;
  border: 2px solid #0044bb;
  border-radius: 7px;
}
.singlePrograme .icon i{
  font-size: 30px;
  background: #0044bb;
  padding: 15px;
  border-radius: 50%;
  color: white;
  margin-bottom: 15px;
}
.singlePrograme .text h4{
  margin-bottom: 10px;
}
.singlePrograme .text p{
  text-align: left;
  margin: 20px 0;
}
.singlePrograme .button{
  display: flex;
  color: #0044bb;
  align-items: center;
}
.singlePrograme .button:hover button.knowMore{
  margin-right: 50px;
}
.singlePrograme .button button{
  color: #0044bb;
  margin-right: 20px;
  transition: 0.3s;
}
.getInTouch {
  text-align: center;
  margin: 50px 0;
}
.getInTouch p{
  color: #666;
  margin-bottom: 20px;
}
.getInTouch button{
  padding: 5px 20px;
  border: 2px solid #0044bb;
  border-radius: 5px;
  color: #0044bb;  
  transition: 0.4s;
}
.getInTouch button:hover{
  background-color: #0044bb;
  color: white;
}

@media (max-width:991px) {
  .mainWho{
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .mainWho .whoAreWe{
    width: 95%;
    margin-bottom: 50px;
  }
  .mainWho .ourMission{
    width: 95%;
  }
  .mainHelp .Hblocks{
    flex-direction: column;
    justify-content: center;
  }
  .mainHelp .singleHBlock{
    width: 95%;
   margin-bottom: 15px;
    
    
    border-radius: 15px;
  }
  .allFrims{
   
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .singleFrims{
    width: 90%;
    margin: 20px 0;
  }
  .allPrograms{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .singlePrograme{
    width: 95%;
    margin: 20px 0;
  }
}