/*=====================================
            ADPOST PAGE STYLE
======================================*/
body {
  background: #f2f2f4;
}

.adpost-part {
  padding: 50px 0px 70px;
}

.adpost-card {
  margin-bottom: 30px;
  padding: 30px 20px;
  background: var(--white);
  border-radius: 8px;
}

.adpost-title {
  padding-bottom: 18px;
  margin-bottom: 25px;
  position: relative;
  border-bottom: 1px solid var(--border);
}

.adpost-title::before {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0px;
  width: 50px;
  height: 2px;
  background: var(--primary);
}

.form-group {
  margin-bottom: 30px;
}

.form-check-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.form-check-list li:last-child {
  margin-bottom: 0px;
}

.form-check {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.form-check-text {
  font-weight: 500;
  line-height: 15px;
  text-transform: capitalize;
}

.adpost-plan-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid var(--border);
}

.adpost-plan-content h6 {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.adpost-plan-content h6 span {
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
}

.adpost-plan-meta {
  text-align: center;
  margin-left: 30px;
}

.adpost-plan-meta h3 {
  font-family: sans-serif;
  margin-bottom: 5px;
}

.adpost-plan-meta .btn {
  padding: 6px 20px;
}

.adpost-agree {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 45px;
}

.adpost-agree .form-group {
  margin: 6px 0px 0px;
}

@media (max-width: 767px) {
  .adpost-plan-list li {
    flex-direction: column;
    align-items: flex-start;
  }
  .adpost-plan-meta {
    margin: 20px 0px 0px;
  }
  .pb-4 .btn {
    padding: 14px 25px;
  }
}
/* Custom Css */
.singleSection{
  display: flex;
  justify-content: space-between;
}
.form-group{
  width: 30%;
}
.singleSection.gstSelect .form-group{
  width: 23%;
}
.adpost-card .col-lg-12{
  padding: 0;
}
.submitBtnSection.pb-2 {
  margin-top: 80px;
}
.row{
  margin: auto;
}
.alert{
  margin: 0 auto 50px;
}
.secondSection .form-group.productTitle,
.thirdSection .form-group.productTitle{
  width: 65%;
}

.thirdSection .form-group.stateCity{
  display: flex;
  justify-content: space-between;
}
.thirdSection .city{
  width: 45%;
}
.form-group .Links{
  display: none;
  justify-content: space-between;
}
.form-group .Links button i{
  font-size: 25px;
}
.form-group .Links button:nth-child(1) i{
  color:  #1877F2;
}
.form-group .Links button:nth-child(2) i{
  color:  #00acee;
}
.form-group .Links button:nth-child(3) i{
  color:  #0072b1;
}
.form-group .Links button:last-child i{
  color: red;
}
.socialLinkInput{
  display: none;
}
.flex{
  display: flex !important;
}
.active{
  display: block !important;
}
.singleSection .productDesctiption{
  width: 48%;
}
.singleSection .productDesctiption textarea{
  width: 100%;
  height: 100%;
}
.singleSection.socialLinks{
  margin-bottom: 15px;
}
.singleSection.socialLinks .form-control{
  width: 20%;
}
.singleSection.imageUploader{
  flex-direction: column;
  
}
.uploadedImages{
  border: 1px dashed #c6c6c6;
  border-radius: 10px;
  padding: 10px;
  display: flex; 
  margin-bottom: 15px;
  overflow-x: scroll;
}
.allImages{
  display: flex; 
}
.singleImage{
  width: 120px;
  height: 100px;
  overflow: hidden;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4e1e1;
  padding: 10px;
  position: relative;
}
.singleImage img{
  width: 100%;
}
.clsBtn{
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
  
}
.clsBtn i{
  font-size: 10px;
  background: #c6c6c6;
  padding: 5px;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 50%;
}
.clsBtn i:hover{
  opacity: 1;
}
.singleImage.imageUploader{
  position: relative;
  cursor: pointer;
  padding: 0 20px;
  
}
.hidden{
  display: none;
}
.singleImage.imageUploader i{
  font-size: 50px;
  font-weight: 1.1;
  font-style: normal;
  color: #6a6969;
  cursor: pointer;
}
.singleImage.imageUploader input{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.col-lg-12{
  padding: 0;
}

@media (max-width: 991px) {
  .singleSection{
    flex-direction: column;
    justify-content: center;
  }
 .form-group{
    width: 100% !important;
  }
  .thirdSection .form-group.stateCity{
    display: block;
    
  }
  .thirdSection .city{
    width: 100%;
  }
  .singleSection .productDesctiption{
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
  }
  .singleSection.socialLinks .form-control{
    width: 100%;
    margin-bottom: 10px;
  }
  .saftyContainer.account-card {
    width: 90%;
    margin: auto;
}
}
