/*=====================================
          BOOKMARK PAGE STYLE
======================================*/
.dash-header-card {
  box-shadow: var(--primary-bshadow);
}
.tableContainer{
  overflow-x: scroll;
}
.table{
  min-width: 1150px
}
.table table{
  width: 100%;
  text-align: center;
}


@media (max-width: 767px) {
  .bookmark-part {
    padding: 50px 0px 30px;
  }
  .product-filter {
    flex-direction: column;
  }
  .product-short-select {
    margin: 15px 0px;
  }
}

