section.hero {
    background: #f6f6f6;
}
.mainHero{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
}
.mainHero .leftText{
    width: 45%;
}
.mainHero .leftText p{
    margin: 20px 0;
}
.mainHero .leftText button{
    border: 2px solid #0044bb;
    color: #0044bb;
    transition: all 0.3s;
    border-radius: 10px;
    padding: 10px 30px;
}
.mainHero .leftText button:hover{
    background: #0044bb;
    color: white;
}
.mainHero .rightImg{
    width: 45%;
    text-align: center;
}
.mainHero .rightImg img{
    width: 55%;
}
.trasted{
    padding: 100px 0;
}
.maintransted .text{
    text-align: center;
}
.maintransted .text p{
    margin-bottom: 20px;
}
.benefits{
    border: 1px solid #e6e6e6;
}
.benefits .firstRow{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}
.benefits .firstRow .singleBenefit:nth-child(2){
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;

}
.benefits .secondRow{
    display: flex;
    justify-content: center;
}
.mainSingleBenefit{
    width: 50%;
    
}
.benefits .secondRow .singleBenefit{
    width: 95%;
    height: 100px;
}
.benefits .secondRow .mainSingleBenefit:nth-child(1){
    border-right: 1px solid #e6e6e6;
}

.benefits .singleBenefit{
    width: 33%;
    display: flex;
    gap: 15px;
    
    padding: 10px;
    align-items: center;
    margin: 2px 0;
}
.benefits .singleBenefit .img{
    width: 120px;
    height: 100%;
    overflow: hidden;
}
img{
    width: 100%;
}
.benefits .singleBenefit .description p{
   
    
    line-height: 1.3;
    font-size: 14px;
    margin-top: 7px;
}
.membership{
    padding: 0 0 60px;
}
.mainMembership .text{
    text-align: center;
}
.mainMembership .text p{
    margin: 30px 0;
}
.mainMembership .allPlans{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.mainMembership .allPlans .singlePlan{
    width: 45%;
    text-align: center;
    background: #005eff1c;
    padding: 25px 0;
    border: 2px solid #0044bb;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainMembership .allPlans .singlePlan h2{
    font-size: 30px;
    color: #0063ff;
}

.mainMembership .allPlans .singlePlan .img {
    height: 200px ;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.mainMembership .allPlans .singlePlan .description p{
 margin: 10px 0 20px;
}
.mainMembership .allPlans .singlePlan .planBenefits ul{
    list-style-type: disc;
    text-align: left;
    
    color: #000000;
    font-size: 18px;
    margin: 0 0 20px 40px ;
}
.mainMembership .allPlans .singlePlan .Btn a{
    font-size: 18px;
    border: 1px solid #0044bb;
    padding: 10px 30px;
    border-radius: 5px;
    width: 100%;
    transition: all 0.3s;
    font-weight: 600;
    background: #0044bb;
    color: white;
}
.mainMembership .allPlans .singlePlan .Btn button:hover{
    color: #0044bb;
    background-color: transparent;
}
.mainMembership .allPlans .form{
    width: 94%;
 
    border: 2px solid #0044bb;
    border-radius: 10px;
    display: none;
    margin: 20px 0;
}
.mainMembership .allPlans .form.active{
    display: block;
}
/* .mainMembership .allPlans .form .inputRows{
    display: flex;
    justify-content: space-between;
} */
.mainMembership .allPlans .form .inputRows .inputRow{
    /* width: 30%; */
    display: flex;  
    justify-content: space-between;
}
.mainMembership .allPlans .form .inputRows .inputRow .inputField{
    width: 30%;
}


.mainMembership .allPlans .form .inputRows .inputRow input{
    width: 100%;
    border: 2px solid #ddd;
    display: block;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 5px 0; 
}

.mainMembership .allPlans .form .inputRows .inputRow select{
    width: 100%;
    border: 2px solid #ddd;
    display: block;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 5px 0; 
}
.mainMembership .allPlans .form .message textarea{
    width: 100%;
    height: 200px;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
}
.mainMembership .allPlans .form .termsConditions{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.mainMembership .allPlans .form .Btn{
    text-align: center;
}
.hidden{
    display: none !important;
}
.mainMembership .allPlans .form .Btn button{
    border: 2px solid #0044bb;
    color: #0044bb;
    padding: 10px 30px ;
    font-size: 18px;
    border-radius: 10px;
    margin: 20px 0;
}
.mainMembership .allPlans .form .Btn button:hover{
    background:  #0044bb;
    color:  white;
}
@media (max-width:991px) {
    .mainMembership .allPlans .form .inputRows .inputRow{
       flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mainMembership .allPlans .form .inputRows .inputRow .inputField{
        width: 100%;
      
    }
     h1 {
     
        font-size: 32px;
    }
    
}
.marchant{
    margin: 30px 0;
}
.mainMarchant {
    text-align: center;
}
.allMarchants{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.mainMarchant h1{
    margin-bottom: 20px;
}
.allMarchants .singleMarchants{
    width: 23%;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 15px;
    padding: 15px;
}
.allMarchants .singleMarchants h1{
    font-size: 70px; 
    color: #adadad;
    margin: 10px 0;
}

.allMarchants .singleMarchants p.firstPara{
    margin: 0 0 20px;
    font-size: 14px;
}
.interested{
    background-color: #0044bb;
    color: white;
}
.mainInterested {
   text-align: center;
    padding: 50px 0;

}
.mainInterested .text h2{
    font-size:  30px;
    color: white;
}
.mainInterested .btn{
    display: block;
    color: white;
    border: none;
}
.mainInterested .btn a{
    border: 2px solid white;
    color: white;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 10px;
    transition: all 0.3s;
}
.mainInterested .btn a:hover{
    background: white;
    color: #0044bb;
}
.closeFormDiv {
    padding: 20px 0;
}

.captcha{
    text-align: center;
}
.captcha input:first-child{
    letter-spacing: 17px;
    user-select: none;
    background-color: #a7a6a6;
}
.captcha input {
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 180px;
}
.refresh{
    margin-left: -40px;
    background: #333;
    color: white;
    padding: 3px 7px;
    border-radius: 15px;
    transition: all 0.1s;
}
.refresh:active{
    transform: scale(0.9);
}


@media (max-width: 911px) {
    .mainMembership .allPlans .singlePlan .img {
        height: 130px ;
    }
    .mainHero{
        flex-direction: column-reverse;
        justify-content: center;
        
    }
    .mainHero .leftText{
        width: 95%;
    }
    .mainHero .rightImg{
        width: 100%;
        margin-bottom: 20px;
        
    }
    .mainHero .rightImg img{
        width: 100%;
    }
    .maintransted .text h1{
        font-size: 30px;
    }
    .maintransted .text p{
        font-size: 15px;
    }
    .benefits{
        justify-content: space-evenly;
    }
    .benefits .singleBenefit{
        width: 100%;
       border-bottom: 1px solid #e6e6e6;
    }
    .benefits .firstRow{
        flex-direction: column;
        justify-content: center;
        border: none;
        
    }
    .benefits .firstRow .singleBenefit:nth-child(2){
        border-right: none;
        border-left: none;
    
    }
    .benefits .secondRow{
        flex-direction: column;

        justify-content: center;
    }
    .mainSingleBenefit{
        width: 100%;
        
    }
    .benefits .secondRow .singleBenefit{
        width: 100%;
        height: auto;
    }
    .benefits .secondRow .mainSingleBenefit:nth-child(1){
        border-right: none;
    }
    .benefits .secondRow .mainSingleBenefit:nth-child(2) .singleBenefit{
        border: none;
    }
    .mainMembership .allPlans{
        justify-content: center;
    }
    .mainMembership .allPlans .singlePlan{
        width: 100%;
        
    }
    .allMarchants{
        justify-content: center;
    }
    .allMarchants .singleMarchants{
        width: 80%;
    }
    .mainInterested {
        flex-direction: column;
        justify-content: center;
    }
    .mainInterested{
        text-align: center;
    }
    .mainInterested .text h2{
        font-size:  25px;
    }
}